@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roberto', sans-serif;
}
/* LANDING NAVIGATION */


.nav__row {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.img__logo {
   width: 40px;
   height: 40px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company__name--logo {
    font-weight: bold;
    font-size: 20px;
    color: #243E63;
    display: inline;
    align-items: center;    
    justify-content: space-between;
}

.nav__link {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    padding: 0;
    color: #6415ff;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 0px;
    margin-left: auto;
}

.nav__link:hover {
    text-decoration: underline;
    color: #6415ff;
}

.nav__link--primary {
    text-decoration: none;
    display: inline;
    padding: 0;
    margin-left: 50px;
    color: #6415ff;
}

.nav__link--primary:hover {
    text-decoration: underline;
    color: #6415ff;

}
.nav__link--anchor {
    text-decoration: none;
    display: inline;
    padding: 8px 16px;
    margin-left: 16px;
    color: #fff;
    background-color: #6415ff;
    justify-content: center;
    border-radius: 20px;
}

.nav__link--anchor:hover {
    text-decoration: underline;
 }

 ul {
    display: flex;
    gap: 16px;
 }

 /* H1 H2 INPUT BUTTON */

 .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
 }

 .h1 {
    color: blue;
    margin-bottom: 20px;
 }

 .h5 {
    margin-bottom: 20px;

 }

 .h6 {
    margin-bottom: 20px;
 }

 .email {
    margin-bottom: 20px;
 }

 .Our Trusted Customers {
    width: 20px;
    height: 20px;

 }

