@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* LANDING NAVIGATION */


nav {
    padding: 24px 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 12px;
}
.img__logo {
   width: 40px;
   height: 40px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company__name--logo {
    font-weight: 700;
    font-size: 24px;
    color: #243E63;
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #243e63;
    font-size: 14px;
    font-weight: 600;
}

.nav__link:hover {
    text-decoration: underline;
    color: #6415ff;
}

.nav__link--primary {
    text-decoration: none;
    display: inline;
    padding: 0;
    margin-left: 50px;
    color: #6415ff;
}

.nav__link--primary:hover {
    text-decoration: underline;
    color: #6415ff;

}
.nav__link--anchor {
    text-decoration: none;
    color: #fff;
    background-color: #6415ff;
    padding: 12px 24px;
    justify-content: center;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 600;
}

.nav__link--anchor:hover {
    text-decoration: underline;
 }

 ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    
    
 }

 /* H1 P H6 INPUT BUTTON */

 .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
 }

 h1 {
     margin-bottom: 20px;
     
 }

 
 .text--blue {
    color: #6515ff;
 }

 p {
    margin-bottom: 20px;
    color: #7c8ba1;
 }

 h6 {
    margin-bottom: 20px;
 }

 #email {
    margin-bottom: 50px;
    border-radius: 30px;
    width: 200px;
    height: 40PX;
    background-color: white;
    color: rgb(91, 88, 88);
    border-color: rgb(91, 88, 88); 
 }

 
 button {
    color: white;
    background-color: #6515ff;
    width: 100px;
    height: 40px;
    border-radius: 30px;
 }

button:hover {
    background-color: darkblue;
 }

/* OUR TRUSTED CUSOMTERS */

 .our-trusted-customers {
    width: 100%;
    max-width: 400px;
    opacity: 0.5;
 }

.hero__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 32px;
}
 
.hero__content {
    width: 40%;
}

 /* DESIGN ILLUSTRATION */

 .design-illustration {
     width: 60%;
     max-width: 700px;
}

 .hero__content {
    width: 40%;
 }

/* CONTAINER FOR FEATURES H1 AND P */

 .container__row {
    padding: 80px 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
 }

 .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .features h5 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6;
    margin-bottom: 16px;
 }

 .features h1 {
    font-size: 36px;
    color: #243e63;
    margin-bottom: 16px;
 }

.features p {
    max-width: 576px;
    color: #7c8ba1;
    font-size: 18px;
    line-height: 1.6;
    
}

/* Services/Service */

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 32px;
    line-height: 1.6;
}

.service {
    display: flex;
    align-items: flex-start;
    width: calc(100%/3);
    padding-top: 32px 24px;
}

.service__img-wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 50%;
}

.service__text {
    margin-left: 16px;
    margin-top: 8px;
}

/* Quality Work Designed & Developed by Professional */

.professionals__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.professionals__content {
    width: 50%;
}

.quality__work {
    padding: 8px 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.designed__professionals {
    padding: 8px 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lorem__para {
    padding: 0 32px;
    width: 100%;
}

.learn__more--btn {
    padding: 0 32px;
    border-radius: 80%; 
    border: none;
    width: 50%;
}

/* Hero Screenshot to side of Quality Work Designed Professional */

.hero__screenshot {
    width: 50%;
    
}

.hero__img-wrapper {
    width: 100%;
    
}

.hero__img {
    width: 100%;
    
}

/* Steps Row IN computer AND STEPS */

.steps__row {
    display: flex;
    align-items: flex-start;
    gap: 64px;
    padding: 80px 32px;
}

.hero__computer {
    width: 50%;
    padding-top: 45px;
}

.computer__img-wrapper {
    width: 100%;
}

.computer__img {
    width: 100%;
}

.steps__content {
    width: 50%;
}

.steps__content h3 {
    margin-bottom: 16px;
}

.steps__content h2 {
    margin-bottom: 32px;
}

.steps__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
}

.steps__list li {
    display: flex;
    gap: 24px;
}

.text--gray {
    color: #cdb5e0;
    font-size: 32px;
    font-weight: 700;
}

/* PRICING (H5) PLANS (H2) LOREM (P) */

.pricing__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
 }

.pricing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .pricing__content h5 {
    padding: 8px;
  }

  .pricing__content h2 {
    padding: 8px;
    font-size: 36px;
    font-weight: 700;
    color: #243e63;
 }

  .pricing__content p {
    padding: 16px;
    max-width: 576px;
    color: #7c8ba1;
    font-size: 18px;
    line-height: 1.6;
}

/* THREE PLANS AMOUNTS DURATION FEATURES BUTTON */

.three__plans {
    display: flex;
    justify-content: center;
    padding: 40px 32px;   
    gap: 16px;
}

.plan {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.three__plans h2 {
    padding: 16px;
    padding-top: 0;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
    width: 250px;
    text-align: center;
    padding: 8px;
}

.card h4 {
    padding: 16px
}

.nav__green--button {
    color: white;
    background-color: rgb(21, 186, 134);
    border: linear-gradient;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px 24px;
}

.three__plans--blue {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(100%/3);
    padding-top: 32px 24px;   
    box-sizing: border-box;
    gap: 16px;
}

.three__plans--blue h4 {
    background-color: #6415ff;
    color: white;
}

.three__plans--blue h2 {
    background-color: #6415ff;
    color: white;
}

.three__plans--blue p {
    background-color: #6415ff;
    color: white;
}

.nav__white--btn {
    background-color: blue;
    background: linear-gradient;
    padding: 10%;
}
.nav__white--button {
    color: purple;
    background-color: whitesmoke;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px;
    cursor: pointer;
}

.three__plans--red {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(100%/3);
    padding-top: 32px 24px;   
    box-sizing: border-box;
    gap: 16px;
}


.three__plans--red h2 {
    background-color: white;
    color: black;
}

.nav__red--button {
    color: white;
    background-color: rgb(226, 65, 65);
    border: linear-gradient;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px;
}