@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* LANDING NAVIGATION */


nav {
    padding: 24px 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.img__logo {
   width: 40px;
   height: 40px;
   font-family: 24px inter, sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company__name--logo {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.6px;
    color: #243e63;
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #243e63;
    font-size: 14px;
    font-weight: 600;
}

.nav__link:hover {
    text-decoration: underline;
    color: #6415ff;
}

.nav__link--primary {
    text-decoration: none;
    display: inline;
    padding: 0;
    margin-left: 50px;
    color: #6415ff;
}

.nav__link--primary:hover {
    text-decoration: underline;
    color: #6415ff;

}

.nav__link--anchor {
    text-decoration: none;
    color: #fff;
    background-color: #6415ff;
    padding: 12px 24px;
    justify-content: center;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 600;
}

.nav__link--anchor:hover {
    text-decoration: underline;
 }

 ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
 }

 /* H1 P H6 INPUT BUTTON */

 .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
 }

 h1 {
     margin-bottom: 20px;
     color: #1A202C;
 }

 .text--blue {
    color: #6515ff;
 }

 p {
    margin-bottom: 20px;
    color: #7c8ba1;
 }

 .form {
    position: relative;
 }

button {
    color: white;
    background-color: #6515ff;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 6px;
    margin-top: 3px;
    border: none;
}

button:hover {
    background-color: darkblue;
 }

  #email {
    margin-bottom: 50px;
    border-radius: 30px;
    width: 100%;
    height: 40PX;
    background-color: white;
    color: rgb(91, 88, 88);
    border-color: rgb(91, 88, 88); 
    padding: 22px;
 }

 h6 {
    color: #a0aec0;
    font: 12px;
    margin: 25px 0px 0px;
    margin-bottom: 20px;
 }

/* OUR TRUSTED CUSOMTERS */

 .our-trusted-customers {
    width: 100%;
    max-width: 400px;
    opacity: 0.5;
 }

.hero__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 32px;
}
 
.hero__content {
    width: 40%;
}

 /* DESIGN ILLUSTRATION */

 .design-illustration {
     width: 60%;
     max-width: 700px;
}

 .hero__content {
    width: 40%;
 }

/* CONTAINER FOR FEATURES H1 AND P */

 .container__row {
    padding: 80px 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
 }

 .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .features h5 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6;
    margin-bottom: 16px;
 }

 .features h1 {
    font-size: 36px;
    color: #243e63;
    margin-bottom: 16px;
 }

.features p {
    max-width: 576px;
    color: #7c8ba1;
    font-size: 18px;
    line-height: 1.6;
}

/* Services/Service */

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 32px;
    line-height: 1.6;
    width: 80%;
    margin: auto;
}

.service {
    display: flex;
    align-items: flex-start;
    width: calc(100%/3);
    padding-top: 32px 24px;
}

.service__img-wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 50%;
}

.service__text {
    margin-left: 16px;
    margin-top: 8px;
}

/* Quality Work Designed & Developed by Professional */

.professionals__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.professionals__content {
    width: 50%;
}

.quality__work {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: #6415ff;
    font: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    padding: 0px 32px;
}

.designed__professionals {
    color: #243E63;
    font-size: 40px;
    font-weight: 900;
    margin: 16px 0;
    padding: 8px 32px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.lorem__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
    padding: 0 32px;
    width: 100%;

}

.learn__more--btn {
    padding: 0 32px;
    border-radius: 80%; 
    border: none;
    width: 50%;
}

/* Hero Screenshot to side of Quality Work Designed Professional */

.hero__screenshot {
    width: 50%;
}

.hero__img-wrapper {
    width: 100%;
}

.hero__img {
    width: 100%;
}

/* Steps Row IN computer AND STEPS */

.steps__row {
    display: flex;
    align-items: flex-start;
    gap: 64px;
    padding: 80px 32px;
}

.hero__computer {
    width: 50%;
    padding-top: 45px;
}

.computer__img-wrapper {
    width: 100%;
}

.computer__img {
    width: 100%;
}

.steps__content {
    width: 50%;
}

.steps__content h3 {
    margin-bottom: 16px;
}

.steps__content h2 {
    margin-bottom: 32px;
}

.steps__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
}

.steps__list li {
    display: flex;
    gap: 24px;
}

.text--gray {
    color: #cdb5e0;
    font-size: 32px;
    font-weight: 700;
}

/* PRICING (H5) PLANS (H2) LOREM (P) */

.pricing__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
 }

.pricing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .pricing__content h5 {
    padding: 8px;
  }

  .pricing__content h2 {
    padding: 8px;
    font-size: 36px;
    font-weight: 700;
    color: #243e63;
 }

  .pricing__content p {
    padding: 16px;
    max-width: 576px;
    color: #7c8ba1;
    font-size: 18px;
    line-height: 1.6;
}

/* Values Affordable Professionalism and Values Illustration */

.values__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}

.values__content {
    width: 50%;
    margin-left: 40px;
}

.values__content h5 {
    margin-bottom: 16px;
    font-weight: 700;
}

.values__content h2 {
    max-width: 50%;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 24px;
}

.values__content p {
    line-height: 1.6;
    margin-bottom: 16px;
}

.values__list {
    display: flex;
    gap: 48px;
    margin-top: 32px;
    margin-bottom: 40px;
}

.value {
    width: 50%;
}

.value__title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.value__title h3 {
    margin-left: 12px;
}

.value__icon {
    width: 36px;
    height: 36px;
    min-width: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value__icon-green {
    background-color: #9ae6b4;
    color: #276749;
}

.value__icon-red {
    background-color: #feb2b2;
    color: #9b2c2c;
}

.briefcase__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.LearnMore__button {
    padding: 0;
    border-radius: 80%; 
    border: none;
    width: 50%;
    margin-left: 0px;
}

.values__img-wrapper {
    width: 50%;
    
}

.values__img {
    width: 100%;
    
}


/* THREE PLANS AMOUNTS DURATION FEATURES BUTTON */

.three__plans {
    display: flex;
    justify-content: center;
    padding: 40px 32px;   
    gap: 16px;
}

.plan {
    width: 250px;
    max-width: 360px;
    text-align: center;
    border-radius: 8px;
}

.plans {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.three__plans h2 {
    padding: 16px;
    padding-top: 0;
}

.card {
    background-color: white;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    padding: 8px;
}

.card-personal {
    border-top: 8px solid rgb(21, 186, 134);
    padding: 0;
    overflow: hidden;
}

.card__section {
    padding: 24px 16px;
    border-bottom: 1px solid #e5e7eb;
}

.card h4 {
    padding: 16px
}

.nav__green--button {
    color: white;
    background-color: rgb(21, 186, 134);
    border: linear-gradient;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px 24px;
    font-weight: 500;
    transition-duration: 300ms;
    
}

.nav__green--button:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.35);
}

.card-business {
  background-color: #6415ff;
  border: none;
  overflow: hidden;
}

.card__section--blue {
  background-color: #6415ff;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-left: none;
  border-right: none;
  border-top: none;
}

.card__section--blue:last-child {
  border-bottom: none;
}

.card__section--blue h4,
.card__section--blue h2,
.card__section--blue p {
  color: white;
}

.three__plans--blue h4 {
    background-color: #6415ff;
    color: white;
}

.three__plans--blue h2 {
    background-color: #6415ff;
    color: white;
}

.three__plans--blue p {
    background-color: #6415ff;
    color: white;
}

.nav__white--btn {
    background: linear-gradient;
    padding: 24px 16px;
    text-align: center;
}

.nav__white--button {
    color: purple;
    background-color: whitesmoke;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px 24px;
    cursor: pointer;
    font-weight: 500;
    transition-duration: 300ms;
}

.nav__white--button:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.35);
    ;
}

.card-enterprise {
    border-top: 8px solid rgb(226, 65, 65);
    overflow: hidden;
}

.three__plans--red h2 {
    background-color: white;
    color: black;
}

.nav__red--button {
    color: white;
    background-color: rgb(226, 65, 65);
    border: linear-gradient;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    padding: 8px 24px;
    font-weight: 500;
    transition-duration: 300ms;
}

.nav__red--button:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.35);
    
}

/* TESTIMONIALS LOVE IMAGE, TESTIMONIALS HEADING, H2, P, STARS, H3, P2, PICTURE NAME TITLE COMPANY LEFT AND RIGHT ARROWS */

#testimonials {
    display: flex;
    max-width: 100%;
    flex-direction: center;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 80px 32px;
}

.testimonials__row {
    display: flex;
    align-items: center;    
    justify-content: space-between;
}

.testimonial__img-wrapper {
    width: 50%;
    height: fit-content;
}

.love__image {
    width: 100%;
    height: auto;
    max-width: 520px;
    justify-content: space-between;
}

.testimonials__content {
    width: 50%;
    max-width: 50%;
    padding-left: 64px;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    padding-bottom: 40px;
}

.testimonials__content h5 {
    padding-bottom: 10px;
    font-size: 18px;
    width: 50%;    
}

.five_stars-icon {
    height: 20px;
}

.testimonials__content h3 {
    padding-bottom: 10px;
    white-space: nowrap;
}

.testimonials__content p {
    padding-bottom: 30px;
    padding-top: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}

.testimonials__content h3 {
    padding-top: 18px;
    padding-bottom: 0%;
    width: 50%;
}

.profile {
    display: flex;
    align-items: start;
    flex-direction: space-between;
    white-space: nowrap;
}

.profile h3 {
    padding: 0 0px;
}

.profile p {
    padding-top: 2px;
}

.CharlotteHale__photo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    margin-right: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.testimonial__buttons {
    width: 100px;
    height: 60px;
    border-radius: 50%;
    white-space: nowrap;
    display: flex;
    margin-left: 70px;       
    transition-duration: 300ms;
}

.divider {
    padding: 10px;
}




/* GET STARTED AND CONTACT US */

.GetStarted__light--container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #6415ff;
    padding: 64px 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__row {
    color: #fff;
    max-width: 500px;
    font-size: 28px;
    line-height: 1.4;
}

.nav__button--links {
    display: flex;
    gap: 32px;
    line-height: none;
}

.nav__link--anchor1 {
    text-decoration: none;
    color: #fff;
    background-color: #ff6600;
    padding: 16px 32px;
    justify-content: center;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    transition-duration: 300ms;
}

.nav__link--anchor1:hover {
    transform: translateX(8px);
    background-color: green;
    box-shadow: 0 12px 20px rgba(0,0,0,0.35);
    border: 1px solid #fff;
}

.nav__link--anchor2 {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 16px 32px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    transition-duration: 300ms;
}

.nav__link--anchor2:hover {
    transform: translateX(-8px);
    background-color: green;
    box-shadow: 0 12px 20px rgba(0,0,0,0.35);
}

/* FIVE COLUMN WITH BACKGROUND FOOTER */

.FiveColumnWithBackground__container {
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
     padding: 64px 96px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: flex-start;
}

.FiveColumn__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 120px;
}

.FiveColumn__header h5 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 24px;
    
    }

.nav__FiveColumn--links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: calc(100% / 5);
    align-items: flex-start;
}

.nav__link--FiveColumn {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    white-space: nowrap;
}

.nav__link--FiveColumn:hover {
    text-decoration: underline;
    font-weight: 600;
}


/* FOOTER LOGO AND COMPANY NAME, COPYRIGHT AND SOCIAL LINKS */

.company__footer--copyright {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 32px 96px 64px;
}

.company__footer--logo {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 8px; 
     
}
.company__footer--logo h4 {
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    
}

.img__footer--logo {
    width: 32px;
    height: 32px;
    display: flex;
}


.copyright__para p {
    color: #cdb5e0;
    font-size: 16px;
    font-weight: 500;
     display: flex;
     margin: 0;
}

.footer__socials {
    display: flex;
    gap: 16px;
    align-items: center;

}

.footer__social--link {
    width: 32px;
    height: 32px;
    background-color: #fff;
    color: #1a202c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition-duration: 300ms;
}

.footer__social--link:hover {
    background-color: #cdb5e0;
}


footer {
    padding: 48px 24px
}

.footer__logo {
    max-width: 360px;
}

.footer__link {
    padding: 0 4px;
    font-size: 18px;
}

footer__links {
    margin-bottom: 24px;
}

footer {
    background-color: #6415ff;
    margin-top: 150px;
}

/* RESPONSIVE TO SMALL PHONES, TABLETS, LARGE SMARTPHONES*/

@media (max-width: 1200px) {
        .nav {
            max-width: 1200px;
        }
    }
    
@media (max-width: 768px) {
    .row {
    flex-direction: column;
}

    .nav {
        padding: 0 24px;
    } 

    nav {
        justify-content: center;
        display: block;
        align-items: center;
    }

    .hero__content h1 {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 200px;
    }

    .hero__content h1 {
        align-items: center;
        justify-content: center;
    }

    div.row.nav__row {
        align-items: center;
        justify-content: center;
        display: block;
    }

    a.nav__link--anchor {
        display: block;
        margin-top: 10px;
    }

    ul.nav__links {
        width: 50%;
        display: block;
        padding: 10px
    }

    h6 {
        margin-top: 30px;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 26px;
    }

    div.services {
        display: block;
    }

    .features h1 {
        text-align: center;
    }

    .features p {
        text-align: center;
    }

    .service {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .professionals__row {
        display: block;
        align-items: center;
        flex-direction: column;
    }

    .professionals__content {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }
    .learn__more--btn {
        margin: 0 auto;
    }

    .hero__screenshot {
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
    }

    .hero__computer {
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
        padding-bottom: 24px;
    }

    .steps__list span {
        align-items: center;
        justify-content: center;
        
    }
        .div.row.values__row {
        display: block;
        align-items: center;
    }

    .span.text--blue {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .three__plans {
        display: block;
    }

    .LearnMore__button {
        margin: 0 auto;
    }

    .GetStarted__light--container {
        display: block;
    }

     a.nav__link--anchor1 {
        max-width: 80%;
        display: flex;
        justify-content: center;
     }

    a.nav__link--anchor2 {
        max-width: 80%;
        display: flex;
        justify-content: center;
    }

    .FiveColumnWithBackground__container {
        Display: block;
    }

    h5 {
        margin-top: 
        20px;
    }

    .values__row {
    flex-direction: column-reverse;
    text-align: center;
}

.values__content,
.values__img-wrapper {
    width: 100%;
    max-width: 200px;
    justify-content: center;
    align-items: center;
}

.values__content h2 {
    align-items: center;
    justify-self: center;
}

div.row.values__row h2 {
    align-items: center;
    justify-content: center;
}

.values__list {
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.value {
    width: 100%;
}

.value__title {
    justify-content: center;
}

.pricing__content {
    text-align: center;
}

    .company__footer--logo {
        margin-bottom: 
        16px;
    }

    .company__footer--logo h4 {
        margin-bottom:
           16px;
        white-space: nowrap;
    }

    .copyright__para {
        margin-bottom:
        16px;
    }

    img.love__image {
        align-items: center;
        width: 100%;
        max-width: 1200px;
        display: block;
        padding-left: 70px;
        
    }
    .testimonials__row {
        text-align: center;
        display: block;
    }
    .testimonials__ratings h3 {
        text-align: center;
        
    }

    .profile {
        text-align: center;
        display: block;
    }

    .testimonials__ratings h3 {
        text-align: center;
        flex-wrap: wrap;
        
        
    }

    .testimonial__buttons {
        margin: 0 auto;
    }
}

    @media (max-width: 480px) {
    .row {
    display: block;
    width: 100%;
}
}
